@media (max-width: 500px) {
    .mwidth{
        max-width: 320px;
    }
    
    .fixscroll{
        overflow-x: hidden
    }

    .gocenter{
        padding-left: 30px;
    }

    .imgmobile{
        max-width: 100%;
        height: auto;
    }
}
